<div>
  <p class="mat-headline-3">User Details</p>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" matInput required/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput required email/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <textarea formControlName="address" matInput></textarea>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">{{isEditMode? 'Update':'Submit'}}</button>
      <button mat-raised-button color="warn" type="button" (click)="onDelete()" *ngIf="isEditMode">Delete</button>
      <button mat-raised-button color="warn" type="button" (click)="onClear()">
        Clear
      </button>
    </div>
  </form>

  <p class="mat-headline-3">User Data Table</p>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="onRowClicked(row)"
      [class.demo-row-is-clicked]="clickedRow === row"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>